@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&display=swap');
*
{
margin:0;
padding:0;
font-family: 'Comfortaa', cursive;
}
.top-bar
{
width: 100%;
background:#111;
color: #ffff;
}
.content
{
width: 1200px;
margin:auto;
display: flex;
}
.content h3
{
padding-top: 150px;
font-size: 20px;
}
.content h1
{
font-size: 70px;
font-weight: bold;
padding-top: 20px;
}
.content span
{
color: #e33;
}
.content input
{
margin-top: 50px;
width: 400px;
height: 45px;
border-radius: 25px;
background:transparent;
border:2px solid #fff;
font-size: 16px;
outline: none;
padding:23px;
}
.content input::placeholder
{
color: #fff;
}
.content img
{
margin-left: 200px;
width: 678px;
border-radius: 10px;
}
.about
{
width: 100%;
background: #222;
}
.about .cont
{
width: 1200px;
margin:auto;
display: flex;
padding-top: 50px;
}
.cont img
{
width: 350px;
margin-top: 100px;
border-radius: 25px;
}
.cont h1
{
color: #fff;
padding-top: 80px;
font-weight: bold;
font-size: 40px;
padding-left: 100px;
}
.cont h3
{
font-weight: bold;
color: #fff;
padding-top: 10px;
font-size: 15px;
padding-left: 100px;
}
.cont p
{
padding-left: 100px;
color: #999;
line-height: 25px;
padding-top: 30px;
}
.cont button:hover
{
background-color: #e11;
}
.meer
{
width: 100%;
background: #111;
padding: 50px 0px;
}
.meer .text
{
width: 1200px;
margin:auto;
padding:25px 0px;
}
.meer .text h1
{
color: #fff;
font-weight: bold;
font-size: 40px;
text-align: center;
}
.meer .box
{
display: flex;
justify-content: space-between;
align-items: center;
padding-top: 50px;
}
.meer .box div
{
width: 350px;
background:#fff;
border-radius: 10px;
text-align: center;
padding:20px 10px;
}
.meer .box div ion-icon
{
color: #e33;
font-size: 50px;
padding-top: 20px;
}
.meer .box div h2
{
font-weight: bold;
cursor: pointer;
padding-top: 20px;
}
.meer .box div p
{
color: #111;
line-height: 25px;
padding:30px;
font-weight: bold;
font-family: arial;
}
.footer-fluid
{
width: 100%;
background-color: #111;
}
.footer
{
width: 1200px;
margin: auto;
padding:50px;
display: flex;
box-sizing: border-box;
justify-content: space-between;
align-items: center;
}
.footer p
{
color: #fff;
}
.footer a
{
text-decoration: none;
color: #e33;
}
.footer ion-icon
{
color: #fff;
font-size: 25px;
margin-right: 10px;
cursor: pointer;
transition: .5s;
}
.footer ion-icon:hover
{
color: #e33;
}